.partner-logo{
    text-align: center !important;
}
  
.marquee-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
:root {
    --marquee-width: 90vw;
    --marquee-height: 30vh;
    --marquee-elements-displayed: 3;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}
    
.marquee img{
    height: 9rem;;
    display: inline-block;
    max-width: 20rem;
}
.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    color: #eee;
    overflow: hidden;
    position: relative;
}
.marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}
.marquee:before {
    left: 0;
}
.marquee:after {
    right: 0;
    }
.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}
      
@keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3/4);
    white-space: nowrap;
}

@media all and (max-width: 1000px){
:root{
    --marquee-width: 100vw;
    --marquee-elements-displayed: 2.5;
    }
}



@media all and (max-width: 800px){
    .marquee-parent { 
    font-size: 12px; 
    }
    :root {
    --marquee-elements-displayed: 2;
    }
    .marquee img {
        height: 6rem;
    }
    .marquee:before, .marquee:after { 
    width: 6rem; 
    }
}

@media all and (max-width: 800px){
    .marquee-parent { 
    font-size: 12px; 
    }
    :root {
    --marquee-elements-displayed: 2.5;
    }
    .marquee img {
        height: 6rem;
    }
    .marquee:before, .marquee:after { 
    width: 6rem; 
    }
}

@media all and (max-width: 550px){
    .marquee-parent { 
    font-size: 12px; 
    }
    :root {
    --marquee-elements-displayed: 1;
    }
    .marquee img {
        height: 6rem;
        width: fit-content;
    }
    .marquee:before, .marquee:after { 
    width: 3rem; 
    }
}