@tailwind base;
@tailwind components;
@tailwind utilities;


.back-color {
  background: #f9f2e7;
  ;
}

.back-color-dark {
  background: #f3eadc;
  ;
}

.header-color {
  background-color: #Cc6652;
}

.text-color {
  color: #Cc6652;
}


.text-second {
  color: #f9f2e7;
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 364px;

  /* border: 1px solid #f1f1f1; */
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;

  /* height: 100%; */
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background: #Cc6652;
  color: white;
  transform: rotateY(180deg);
}


/* font style  */

.font-style {
  font-family: 'Nunito Sans', sans-serif;
}




.line-height {
  height: 12px;
}


.img-size {
  height: 700px;

}

.approch-img-size {
  height: 203px;
  width: 295px;
}

/*    03/07/2023  Css     */


.heading-font-family {
  font-family: 'Poppins', sans-serif;
}


.paragraphs-font {
  font-family: 'Public Sans', sans-serif;
}

.logo-size {
  width: 45%;
  /* height: 60px; */
}


.approach-div {
  height: 400px;

}

.icon-size {
  border-radius: 50%;
  width: 50%;
}

.icon-size-second {
  border-radius: 50%;
  width: 50%;
}

.hand-icon {
  width: 65%;
}

.power-of-Spaces {
  width: 410px;
}

.power-of-Spaces-2 {
  width: 408px;
  height: 300px;
}

@media only screen and (max-width: 550px) {
  .power-of-Spaces {
    width: 300px;
  }

  
}

.anil-divan{
  height: 123px;
}

.justice-enablers{
  width: 500px;
}